*.out
*.out1
*.log
*.err
*.stat
*.stats
*.csv
*.jar
*.class
*.zip
*.nsys-rep
# Don't ignore .gitignore itself
!.gitignore

# Specific ignore for gradle
**/.gradle/

# Ignore Gradle files
**/build/
!**/src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache